:root {
  --color: #fff;
  --background-color: #18191c;
}

body {
  color: var(--color);
  background-color: var(--background-color);
}

body[theme="LIGHT"],
body[theme="LIGHTGRAY"] {
  --color: #18191c;
  --background-color: #fff;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
