.file_name {
  margin: 8px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.img {
  width: 100%;
}

.imgContainer {
  padding: 4px;
  border: 1px solid #fff;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
